{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <article id="reseau">
        <div class="row">
            <div class="col-12">
                <h3>Sur les Réseaux</h3>
            </div>
        </div>
        <div class="row kards align-items-center">
            <div class="col-1 icon text-center">
                <i class="fab fa-twitter-square"></i>
            </div>
            <div class="col-3">
                Twitter
            </div>
            <div class="col-1 icon text-center">
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="col-3">
                Linkedin
            </div>
            <div class="col-1 icon text-center">
                <i class="fab fa-github-square"></i>
            </div>
            <div class="col-3">
                GitHub
            </div>
        </div>

    </article>

    <article id="contact">
        <div class="row">
            <div class="col-12">
                <h3>En direct</h3>
            </div>
        </div>

        <form action="" class="row justify-content-center kards">

            <div class="myFlash">
                <div class="content">
                    <div class="close">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="message">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <label for="firstName">Prénom :</label>
                <input name="firstName" id="firstName" type="text">
            </div>
            <div class="col-lg-6  col-12">
                <label for="lastName">Nom :</label>
                <input name="lastName" id="lastName" type="text">
            </div>
            <div class="col-12">
                <label for="email">Email* :</label>
                <input name="email" id="email" type="text" value="cerynna@gmaiL.com">
            </div>
            <div class="col-12">
                <label for="message">Message* :</label>
            </div>
            <div class="col-12">
                <textarea name="message" id="message" cols="30" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa doloribus est id quas veniam voluptas! Corporis deserunt explicabo fugit hic id laboriosam, magni minima nihil voluptate? Exercitationem, reprehenderit, vel. Maiores!</textarea>
            </div>
            <div class="col-4">
                <div id="html_element"></div>
            </div>
            <div class="col-12 text-center">
                <div class="submitContact myButton disabled" data-toggle="popover" data-trigger="hover"
                     data-placement="top" data-content="Il te faut au moins remplir ton email et ton message.">
                    Envoyer
                </div>
            </div>
            <div class="col-12">
                * Champ obligatoire
            </div>
        </form>
    </article>

{% endblock %}
{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer'></script>

    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6LdvqlsUAAAAAMsAQTAMDxsDESs1JVc2XZLClCkb'
            });
        };
    </script>
    <script>


        $(document).ready(function () {
            $("#reseau").fadeTo(1000, 1, function () {
                // Animation complete.
            });
            $("#contact").delay(1000).fadeTo(1000, 1, function () {
                // Animation complete.
            });

            $(document).scroll(function () {

                let headerHeight = $('header').height();
                let navbarHeight = $('nav').height();

                let scrollPosition = $(document).scrollTop();
                let fristSwitch = (headerHeight + navbarHeight);

                /*     if (scrollPosition >= fristSwitch) {
                         $("#contact").fadeTo(1000, 1, function () {
                             // Animation complete.
                         });
                     }*/

            });
            let ButtonSubmit = $('.submitContact');

            ButtonSubmit.click(function () {
                let data = $('form').serializeArray();
                console.log(data);
                ajaxContact(data);
            });


            ButtonSubmit.hover(function () {
                checkForm();
            });
            $('#email').focus(function () {
                checkForm();
            }).blur(function () {
                checkForm();
            }).keyup(function () {
                checkForm();
            });
            $('#message').focus(function () {
                checkForm();
            }).blur(function () {
                checkForm();
            }).keyup(function () {
                checkForm();
            });


        });


    </script>
{% endblock %}
