{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block header %}
    <header class="home container">

    </header>
{% endblock %}

{% block body %}

    <article class="row justify-content-center" id="whoIam">
        <div class="col-12">
            <h3>Qui Suis-je ?</h3>
        </div>
        <div class="col-6 col-lg-3">
            <div class="kards">
                <img src="{{ asset("img/photo.png") }}" alt="Un manifique photo de moi" class="img-fluid">
            </div>
        </div>
        <div class="col-13 col-lg-9">
            <div class="kards text">
                <p>
                    Je m'appelle Jérémy, j'ai commencé à coder très jeune, à l’âge de 14 ans. Je découvrais les joies du
                    HTML, CSS et de mes premières fonctions Javascipt, puis très rapidement du PHP.
                </p>
                <p>
                    Mais le Web n'ai pas mon premier domaine d'étude j'ai commencé par suivre des études pour devenir
                    Architecte, puis je me suis réorienté vers le social et le domaine de l'animation.
                </p>
                <p>
                    Cela ne me plaisais plus et je passais mes soirées à coder pour créer des jeux ou toutes autres
                    applications qui pourraient me simplifier la vie.
                </p>
                <p>
                    Un matin, j'ai pris cette grande décision qui était de faire de ma passion un métier. Pour cela j'ai
                    suivi une formation à la Wild Code School. Où j'ai pu me professionnaliser et acquérir de nombreuses
                    compétences.
                </p>
            </div>
        </div>
    </article>

    <article class="row justify-content-center" id="why">
        <div class="col-12">
            <h3>Pourquoi cerynna.fr</h3>
        </div>
        <div class="col-12">


            <div class="kards text">
                <p>
                    J'ai créé cerynna.fr dans le but principal de pouvoir partager avec vous ma vie de développeur, mais
                    aussi est surtout pour pouvoir héberger mes "petits projets" perso.
                </p>
                <p>
                    Et le premier de ces projets est le "MyLink" que je veux être un outil de partage de ressources.
                    <br />
                    Un lien, un article vous a plus vous voulez le partager et le stocker pour pouvoir le retrouver
                    facilement via un système d'indexation avec des tags "MyLink" devrais vous être utile.
                </p>



            </div>
        </div>
    </article>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#whoIam").fadeTo(1000, 1, function () {
                // Animation complete.
            });
            $(document).scroll(function () {

                var headerHeight = $('header').height();
                var navbarHeight = $('nav').height();
                var whoIamHeight = $('#whoIam').height();

                var scrollPosition = $(document).scrollTop();
                var fristSwitch = (headerHeight + navbarHeight) + (whoIamHeight / 4);


                if (scrollPosition >= fristSwitch) {
                    $("#why").fadeTo(1000, 1, function () {
                        // Animation complete.
                    });
                }

            });
        });


    </script>
{% endblock %}
